<div class="button button-movement" id="button-movement-U" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">U</span>
</div>
<div class="button button-movement" id="button-movement-L'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">L'</span>
</div>
<div class="button button-movement" id="button-movement-F" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">F</span>
</div>
<div class="button button-movement" id="button-movement-F'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">F'</span>
</div>
<div class="button button-movement" id="button-movement-R" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">R</span>
</div>

<div class="button button-movement" id="button-movement-U'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">U'</span>
</div>


<div class="button button-movement" id="button-movement-E" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">E</span>
</div>
<div class="button button-movement" id="button-movement-M" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">M</span>
</div>
<div class="button button-movement" id="button-movement-S" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">S</span>
</div>
<div class="button button-movement" id="button-movement-S'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">S'</span>
</div>
<div class="button button-movement" id="button-movement-M'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">M'</span>
</div>
<div class="button button-movement" id="button-movement-E'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">E'</span>
</div>

<div class="button button-movement" id="button-movement-D'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">D'</span>
</div>
<div class="button button-movement" id="button-movement-L" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">L</span>
</div>

<div class="button button-movement" id="button-movement-B'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">B'</span>
</div>
<div class="button button-movement" id="button-movement-B" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">B</span>
</div>
<div class="button button-movement" id="button-movement-R'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">R'</span>
</div>

<div class="button button-movement" id="button-movement-D" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">D</span>
</div>

<div class="button button-movement" id="button-movement-Y" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">Y</span>
</div>
<div class="button button-movement" id="button-movement-X" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">X</span>
</div>
<div class="button button-movement" id="button-movement-Z" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">Z</span>
</div>
<div class="button button-movement" id="button-movement-Z'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">Z'</span>
</div>
<div class="button button-movement" id="button-movement-X'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">X'</span>
</div>
<div class="button button-movement" id="button-movement-Y'" type="button">
    <span class="material-icons hint">
        arrow_right_alt
    </span>
    <span class="hint">Y'</span>
</div>