
<div class="button button-tool-algorithm-cross" type="button">
    <span class="material-icons title">
        view_in_ar
    </span>
    <span class="hint">Cross</span>
</div>

<div class="button button-tool-algorithm-f2l" type="button">
    <span class="material-icons title">
        view_in_ar
    </span>
    <span class="hint">F2L</span>
</div>

<div class="button button-tool-algorithm-oll" type="button">
    <span class="material-icons title">
        view_in_ar
    </span>
    <span class="hint">OLL</span>
</div>

<div class="button button-tool-algorithm-pll" type="button">
    <span class="material-icons title">
        view_in_ar
    </span>
    <span class="hint">PLL</span>
</div>

<div class="algorithm-list algorithm-list-cross template"></div>
<div class="algorithm-list algorithm-list-f2l template"></div>
<div class="algorithm-list algorithm-list-oll template"></div>
<div class="algorithm-list algorithm-list-pll template"></div>
