@import url("../../algorithm/list/algorithm-list.component.css");

.tools.tools-algorithm-expanded>.area>.algorithm {
    display: flex;
}

.tools>.area>.algorithm>.label {
    padding-left: 10px;
    padding-top: 2px;
    width: 100%;
}

/* .tools>.area>.algorithm>.button.button-tool-algorithm-cross {
    margin-top: 10px;
} */

.tools>.area>.algorithm>.button {
    
    height: calc(((100% - 30px) / 2));
    width: calc((100% - 60px) / 5);
}
