<div class="header overlay shadow background-opacity">
    <div>
        <span class="material-icons logo">
            hourglass_empty
        </span>
        <div>
            <span class="label">Tempo</span>
            <span class="text time">00:00:00</span>
        </div>
    </div>
    <div>
        <div>
            <span class="label">Movimentos</span>
            <span class="text count">0000</span>
        </div>
        <span class="material-icons logo">
            swap_horiz
        </span>
    </div>
</div>
<div class="cube-steps-area">
    <div class="steps-item check-cross">
        <span class="material-icons label">
            check
        </span>
        <span class="label">&nbsp;Cross</span>
    </div>
    <div class="steps-item check-f2l">
        <span class="material-icons label">
            check
        </span>
        <span class="label">&nbsp;F2L</span>
    </div>
    <div class="steps-item check-oll">
        <span class="material-icons label">
            check
        </span>
        <span class="label">&nbsp;OLL</span>
    </div>
    <div class="steps-item check-pll">
        <span class="material-icons label">
            check
        </span>
        <span class="label">&nbsp;PLL</span>
    </div>

    <div class="steps-time time-cross label">
    </div>
    <div class="steps-time time-f2l label">
        
    </div>
    <div class="steps-time time-oll label">
        
    </div>
    <div class="steps-time time-pll label">
        
    </div>
</div>
<div class="cube-area"></div>