<div class="header overlay background-opacity">
    <div class="button button-tool-movement" type="button">
        <span class="material-icons title">
            swap_horiz
        </span>
        <span class="hint">Movimentos</span>
    </div>
    <div class="button button-tool-history" type="button">
        <span class="material-icons title">
            history
        </span>
        <span class="hint">Histórico</span>
    </div>
    <div class="button button-tool-algorithm" type="button">
        <span class="material-icons title">
            code
        </span>
        <span class="hint">Algorítimos</span>
    </div>
    <div class="button button-tool-action" type="button">
        <span class="material-icons title">
            view_headline
        </span>
        <span class="hint">Ações</span>
    </div>
</div>
<div class="area">
    <div class="movement"></div>
    <div class="action"></div>
    <div class="history"></div>
    <div class="algorithm"></div>
</div>
