<div class="edit-side-area">
    <div>
        <div></div>
        <div></div>
        <div class="edit-side-reference up"></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <div></div>
        <div class="edit-side edit-side-0 selected"></div>
        <div class="edit-side edit-side-1"></div>
        <div class="edit-side edit-side-2"></div>
        <div></div>
    </div>
    <div>
        <div class="edit-side-reference left"></div>
        <div class="edit-side edit-side-3"></div>
        <div class="edit-side-reference front"></div>
        <div class="edit-side edit-side-5"></div>
        <div class="edit-side-reference right"></div>
    </div>
    <div>
        <div></div>
        <div class="edit-side edit-side-6"></div>
        <div class="edit-side edit-side-7"></div>
        <div class="edit-side edit-side-8"></div>
        <div></div>
    </div>
    <div>
        <div></div>
        <div></div>
        <div class="edit-side-reference down"></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="color-area background-primary overlay shadow">
    <div class="color-button-area">
        <div class="button color-button-orange orange">
            
        </div>
        <div class="button color-button-yellow yellow">
            
        </div>
        <div class="button color-button-green green">
            
        </div>
        <div class="button color-button-red red">
            
        </div>
        <div class="button color-button-blue blue">
            
        </div>
        <div class="button color-button-white white">
            
        </div>
        <div class="button color-button-accept">
            <span class="material-icons title">
                done
            </span>
            <span class="hint">Aceitar</span>
        </div>
    </div>
</div>