@import url("./cube.css");
@import url("./cube.rotate.css");
@import url("./cube.size-3.css");

.scene {
    --block-size: 60px;
    --block-size-half: calc(var(--block-size) / 2);
    --block-border-size: calc(var(--block-size) / 10);
    --perpective: calc(var(--block-size) * 8);
    --scene-size: calc(var(--block-size) * 8);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
    height: 100%;
    width: 100%;
    perspective: var(--perpective);
    perspective-origin: 50% 50%;
}

.scene>.cube {
    position: absolute;
    transform: rotateX(-30deg) rotateY(-35deg) rotateZ(0deg);
    transform-style: preserve-3d;
    left: calc(50%);
    top: calc(50%);
}

.scene>.cube>.block {
    position: absolute;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z)) translate3d(var(--block-position-x), var(--block-position-y), var(--block-position-z));
    transform-style: preserve-3d;
    background-color: black;
    /* visibility: hidden; */
}

/* .scene>.cube>.block.position-x-0.position-y-0.position-z-0 {
    visibility: visible;
} */

.scene>.cube>.block>.side {
    position: inherit;
    width: calc(var(--block-size) - var(--block-border-size) * 2);
    height: calc(var(--block-size) - var(--block-border-size) * 2);
    border-color: var(--block-color);
    border-width: var(--block-border-size);
    transform-style: preserve-3d;
    border-style: solid;
    border-collapse: separate;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scene>.cube>.block>.side.up {
    transform: rotateX(90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.down {
    transform: rotateX(-90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.left {
    transform: rotateY(-90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.right {
    transform: rotateY(90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.front {
    transform: translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.back {
    transform: rotateX(180deg) translateZ(var(--block-size-half));
}

.scene>.cube.size-3>.block.position-x-0 {
    --block-position-x-0: calc(var(--block-size) * -1.5);
    --block-position-y-0: calc(var(--block-size) * -1.5);
    --block-position-z-0: calc(var(--block-size) * 1);
    --block-position-x-1: calc(var(--block-size) * -0.5);
    --block-position-y-1: calc(var(--block-size) * -0.5);
    --block-position-z-1: 0;
    --block-position-x-2: calc(var(--block-size) * 0.5);
    --block-position-y-2: calc(var(--block-size) * 0.5);
    --block-position-z-2: calc(var(--block-size) * -1);
}


.scene>.cube.size-1>.block.position-x-0 {
    --block-position-x: calc(var(--block-size) * -0.5);
}
.scene>.cube.size-1>.block.position-y-0 {
    --block-position-y: calc(var(--block-size) * -0.5);
}
.scene>.cube.size-1>.block.position-z-0 {
    --block-position-z: calc(var(--block-size) * -0);
}