:root {
    --block-position-center-z: calc(var(--block-size) * 1);
    --block-position-center-x: calc(var(--block-size) * -0.5);
    --block-position-center-y: calc(var(--block-size) * -0.5);
}



.block.center.position-0-0-0 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(var(--block-position-x), var(--block-position-y), var(--block-position-z));
}

.block.center.position-1-0-0 {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(var(--block-position-x), var(--block-position-y), var(--block-position-z));
}

.block.center.position-2-0-0 {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) translate3d(var(--block-position-x), var(--block-position-y), var(--block-position-z));
}

.block.center.position-3-0-0 {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg) translate3d(var(--block-position-x), var(--block-position-y), var(--block-position-z));
}


