.scene {
    --base-size: 12px;
    --block-size: 5em;
    --block-size-half: calc(var(--block-size) / 2);
    --block-border-size: calc(var(--block-size) / 10);
    --perpective: 40em;
    --scene-size: 40em;
    font-size: var(--base-size);
    background-color: purple;
    height: 100%;
    width: 100%;
    perspective: var(--perpective);
    perspective-origin: 50% 50%;
}

.scene>.cube {
    position: absolute;
    transform: rotateX(-30deg) rotateY(-30deg) rotateZ(0deg);
    transform-style: preserve-3d;
    left: calc(50%);
    top: calc(50%);
}

.scene>.cube>.block {
    position: absolute;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(var(--block-position-x), var(--block-position-y), var(--block-position-z));
    transform-style: preserve-3d;
    background-color: black;
    /* transition: all 0.3s ease-out; */
}

.scene>.cube>.block>.side {
    position: inherit;
    width: calc(var(--block-size) - var(--block-border-size) * 2);
    height: calc(var(--block-size) - var(--block-border-size) * 2);
    border-color: var(--block-color);
    border-width: var(--block-border-size);
    transform-style: preserve-3d;
    border-style: solid;
    border-collapse: separate;
    background-color: black;
}
.scene>.cube>.block>.side.orange {
    background-color: orange;
}
.scene>.cube>.block>.side.yellow {
    background-color: yellow;
}
.scene>.cube>.block>.side.green {
    background-color: green;
}
.scene>.cube>.block>.side.red {
    background-color: red;
}
.scene>.cube>.block>.side.white {
    background-color: white;
}
.scene>.cube>.block>.side.blue {
    background-color: blue;
}

.scene>.cube>.block>.side.up {
    transform: rotateX(90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.down {
    transform: rotateX(-90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.left {
    transform: rotateY(-90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.right {
    transform: rotateY(90deg) translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.front {
    transform: translateZ(var(--block-size-half));
}

.scene>.cube>.block>.side.back {
    transform: rotateX(180deg) translateZ(var(--block-size-half));
}

.scene>.cube.size-3>.block.position-x-0 {
    --block-position-x-0: calc(var(--block-size) * -1.5);
    --block-position-y-0: calc(var(--block-size) * -1.5);
    --block-position-z-0: calc(var(--block-size) * 1);
    --block-position-x-1: calc(var(--block-size) * -0.5);
    --block-position-y-1: calc(var(--block-size) * -0.5);
    --block-position-z-1: 0;
    --block-position-x-2: calc(var(--block-size) * 0.5);
    --block-position-y-2: calc(var(--block-size) * 0.5);
    --block-position-z-2: calc(var(--block-size) * -1);
}


.scene>.cube.size-1>.block.position-x-0 {
    --block-position-x: calc(var(--block-size) * -0.5);
}
.scene>.cube.size-1>.block.position-y-0 {
    --block-position-y: calc(var(--block-size) * -0.5);
}
.scene>.cube.size-1>.block.position-z-0 {
    --block-position-z: calc(var(--block-size) * -0);
}



.scene>.cube.size-3>.block.position-x-0 {
    --block-position-x: calc(var(--block-size) * -1.5);
}
.scene>.cube.size-3>.block.position-x-1 {
    --block-position-x: calc(var(--block-size) * -0.5);
}
.scene>.cube.size-3>.block.position-x-2 {
    --block-position-x: calc(var(--block-size) * 0.5);
}
.scene>.cube.size-3>.block.position-y-0 {
    --block-position-y: calc(var(--block-size) * -1.5);
}
.scene>.cube.size-3>.block.position-y-1 {
    --block-position-y: calc(var(--block-size) * -0.5);
}
.scene>.cube.size-3>.block.position-y-2 {
    --block-position-y: calc(var(--block-size) * 0.5);
}
.scene>.cube.size-3>.block.position-z-0 {
    --block-position-z: calc(var(--block-size) * 1);
}
.scene>.cube.size-3>.block.position-z-1 {
    --block-position-z: calc(var(--block-size) * -0);
}
.scene>.cube.size-3>.block.position-z-2 {
    --block-position-z: calc(var(--block-size) * -1);
}


/* .scene>.cube.size-3>.block.position-x-0 {
    --block-position-x-0: calc(var(--block-size) * -1.5);
    --block-position-y-0: calc(var(--block-size) * -1.5);
    --block-position-z-0: calc(var(--block-size) * 1);
    --block-position-x-1: calc(var(--block-size) * -0.5);
    --block-position-y-1: calc(var(--block-size) * -0.5);
    --block-position-z-1: 0;
    --block-position-x-2: calc(var(--block-size) * 0.5);
    --block-position-y-2: calc(var(--block-size) * 0.5);
    --block-position-z-2: calc(var(--block-size) * -1);
} */
