@import url("./components/app/app.component.css");
@import url("./components/algorithm/algorithm.component.css");
@import url("./components/scan/scan.component.css");

body, .wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.wrapper {
    z-index: 2;
}

.template {
    display: none !important;
}

.background-primary {
    background-color: rgb(16, 15, 26);
}

.background-secondly {
    background-color: rgb(40, 37, 66);
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.1);
}

.orange {
    background-color: #f3722c !important;
}
.yellow {
    background-color: #f9c74f !important;
}
.green {
    background-color: #43aa8b !important;
}
.red {
    background-color: #f94144 !important;
}
.white {
    background-color: white !important;
}
.blue {
    background-color: #277da1 !important;
}
.black {
    background-color: #151515 !important;
}

.logo {
    font-size: 30px !important;
    color: rgba(255, 255, 255, 0.8);
}

.title {
    font-size: 24px !important;
    color: rgba(255, 255, 255, 0.8);
}

.text {
    font-size: 18px !important;
    color: rgba(255, 255, 255, 0.8);
}

.label {
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.5);
}

.hint {
    font-size: 12px !important;
    color: rgba(255, 255, 255, 0.4);
}

.button {
    border-style: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 250ms;
    cursor: pointer;
}

.button>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

