@import "./components/tools/tools.css";
@import "./components/content/content.css";

:root {
    --header-height: 60px;
    --header-radius: 15px;
    --tool-area-height: 200px;
    --cube-steps-area-height: 60px;
    --cube-area-height: calc(100% - var(--cube-steps-area-height) - (var(--header-height) * 2));
}



body, .wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.wrapper {
    z-index: 2;
}

.background-primary {
    background-color: rgb(16, 15, 26);
}

.background-secondly {
    background-color: rgb(40, 37, 66);
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 30px !important;
    color: rgba(255, 255, 255, 0.8);
}

.title {
    font-size: 24px !important;
    color: rgba(255, 255, 255, 0.8);
}

.text {
    font-size: 18px !important;
    color: rgba(255, 255, 255, 0.8);
}

.label {
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.5);
}

.hint {
    font-size: 12px !important;
    color: rgba(255, 255, 255, 0.4);
}

.button {
    border-style: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 250ms;
    cursor: pointer;
}

.button.selected {
    background-color: rgba(255, 255, 255, 0.2);
}


.app {
    height: 100%;
    width: 100%;
}

.header {
    height: var(--header-height);
}

.content {
    height: calc(100% - var(--header-height));
    width: 100%;
    position: absolute;
    top: var(--header-height);
    transition: top 250ms ease-out;
}

.tools {
    height: calc(var(--header-height) + var(--tool-area-height));
    width: 100%;
    position: absolute;
    top: calc(100% - var(--header-height));
    transition: top 250ms ease-out;
}

.overlay {
    border-top-left-radius: var(--header-radius);
    border-top-right-radius: var(--header-radius);
    
}

.overlay.shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.app>.header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app>.header>div:first-child, .app>.header>div:last-child {
    height: calc(100% - 20px);
    width: 60px;
}

.app>.header>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

