
<video class="video"></video>
<div class="scan-area">
    <canvas class="canvas"></canvas>
    <div class="scan-overlay">
        <div class=""></div>
        <div class=""></div>
        <div class="up"></div>
        <div class=""></div>
        <div class=""></div>

        <div class=""></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class=""></div>

        <div class="left"></div>
        <div class="border "></div>
        <div class="border front"></div>
        <div class="border "></div>
        <div class="right"></div>

        <div class=""></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class=""></div>

        <div class=""></div>
        <div class=""></div>
        <div class="down"></div>
        <div class=""></div>
        <div class=""></div>
        
    </div>
</div>
<div class="scan-color-area">
    <div class="scan-color scan-color-0"></div>
    <div class="scan-color scan-color-1"></div>
    <div class="scan-color scan-color-2"></div>
    <div class="scan-color scan-color-3"></div>
    <div class="scan-color scan-color-4"></div>
    <div class="scan-color scan-color-5"></div>
    <div class="scan-color scan-color-6"></div>
    <div class="scan-color scan-color-7"></div>
    <div class="scan-color scan-color-8"></div>
</div>
<div class="teste-area"></div>
<div class="button-next button">
    <span class="material-icons logo">
        camera
    </span>
    <span class="label">Capturar</span>
</div>
<!-- <canvas class="tempcanvas"></canvas> -->